
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Dancing+Script:wght@400..700&display=swap');


body{
    font-family: 'Quicksand', sans-serif;
    margin-left:10%; /* Remove all the body margins*/
    margin-right: 10%;
    font-size: 120%;
    background-image: url('new-zealand-map.jpg');
    background-size: cover;
    background-position: no-repeat;

h1,h2 {
     font-family:gupter;
     color: #000000;
    font-size: 150%;
    
}  

.main{
    margin-left:1em;
    margin-right:1em;
    margin-bottom:4em; /*Larger margin to allow for the footer*/
}

.center{
  text-align:center;
}
.wrap {
    float: right;
}
nav {
    display: flex;
    background: transparent;
  
  
  
}
nav a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 90%;
}
nav a:hover{
    color:#94b7e5;
}
nav p {
    text-align: center;
    flex-basis: 100px; /* Give each paragraph the same basic width */
    flex-grow: 1; /* Allow each paragraph to grow evenly to fill up the parent nav element */
    align-items: center; /* Align child flexible boxes in the vertical center */
    font-family: bona nova sc;
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');


header {
    display: flex;
    align-items: center;
    background: transparent;
    background-image: url('bannerforheader.jpg');
    background-size: contain;
}

header h1{
    font-family:dancing script;
    font-size: 200%;
    font-weight: lighter;
    color: black;
    text-align: center;
}
footer{
     background: #42506c; /* background or background 
     color both works*/
 
     position: fixed; /*fix to the vieport*/
     bottom: 0;/*Start 0 pixels from the bottom of the 
     viewport*/
     left: 0; /*Start 0 pixels from the left of the 
     viewportt*/
     width: 100%;/* Set the width to 100% of the viewport*/
     height: 2em; /* Set the fotter elements height to 3 times larger than its current font size*/
     border-top: solid black 1px; /*Have to put the 
     unit; e.g. px or %, if not zero*/
}
.icon {
    width: 200px;
}

@media only screen and (max-width: 800px) {
    .icon {
        width: 100px;
    }
    body{
        font-family: 'Quicksand', sans-serif;
        margin:0%; /* Remove all the body margins*/
        font-size: 120%;
    } 
}